extends ../base.pug
block title
    |  - Добавить новость
block main
    .main
        .add-news-block
            h1.add-news-block_header="Добавить новость"
            .add-news-block_content.row-container
                .line
                    .column.title
                        label='Заголовок'
                        input(type="text", name="", placeholder="Введите текст")
                    .column.date
                        label='Дата'
                        input(type="text", name="", placeholder="Введите дату")
                .line
                    .column.image
                        label='Изображение'
                        input(type="text", name="", placeholder="Ссылка")
                    .column.select
                        button.green_button(onclick="document.location.href='select.html'")="+"
                    .column.load
                        button.green_button="Загрузить"
                .line
                    .column.description
                        label='Текст'
                        textarea(type="text", name="", placeholder="Введите текст")
                .line
                    .column.back
                        button.white_button(onclick="document.location.href='news.html'")="Назад"
                    .column.submit
                        button.green_button(onclick="document.location.href='news.html'")="Опубликовать"

                


        