@import "../../components/globalVars";

.main{
  height: calc(100vh ~"-" 75px);
  border-top: 1px solid @headerBorderColor;
  background-color: @bgGrey;
  
}

.add-news-block_content {
  overflow: hidden;
  border-radius: 6px;
  background-color: #fff;
  min-height: 260px;
  margin: 0px 10px;
  padding: 15px;
  padding-top: 0;
}
.line{
  margin-top: 20px;
}
.column{
  display: inline-block;
  label{
    display: block;
    font-size: @textSize;
  }
  input{
    font-size: @textSize;
    border-radius: 5px;
    border: 1px solid @greyInputBorder;
    height: 40px;
    padding-left: 10px;
  }
  textarea{
    width: 650px;
    height: 200px;
    font-size: @textSize;
    border-radius: 5px;
    border: 1px solid @greyInputBorder;
    padding: 10px;
  }
  &.submit{
    float: right;
  }
}
.title{
  input{
    width: 445px;
  }
}
.image{
  input{
    width: 435px;
  }
}
.select{
  .green_button{
    padding: 6px 16px;
  }
}