extends ../base.pug
block title
    |  - Главная
block main
    .main
        .news-block.row-container
            h1.news-block_header="Новости"
            .news-block_content
                .news-block_news.row-block.news-container.news-add(onclick="document.location.href='add-news.html'")
                    .circle
                        span='+'
                    p.add="Добавить новость"

                .news-block_news.row-block.news-container
                    img(src=require('../../components/images/news_img.jpg'), alt="")
                    p.title="Ведущие компании Японии выходят на рынок криптовалют"
                    p.date="20.12.2019"
                .news-block_news.row-block.news-container
                    img(src=require('../../components/images/news_img.jpg'), alt="")
                    p.title="Ведущие компании Японии выходят на рынок криптовалют"
                    p.date="20.12.2019"
                .news-block_news.row-block.news-container
                    img(src=require('../../components/images/news_img.jpg'), alt="")
                    p.title="Ведущие компании Японии выходят на рынок криптовалют"
                    p.date="20.12.2019"
                .news-block_news.row-block.news-container
                    img(src=require('../../components/images/news_img.jpg'), alt="")
                    p.title="Ведущие компании Японии выходят на рынок криптовалют"
                    p.date="20.12.2019"


        