@import "../../components/globalVars";

.main{
  height: calc(100vh ~"-" 75px);
  border-top: 1px solid @headerBorderColor;
  background-color: @bgGrey;
  
}

.news-container {
  cursor: pointer;
  overflow: hidden;
  border: 1px solid @newsGrey;
  border-radius: 6px;
  background-color: #fff;
  min-height: 260px;
  margin-bottom: 20px;
  img{
    width: 100%;
    
  }
  .circle{
    border: 6px solid #f6f6f6;
    position: relative;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 56px;
    width: 80px;
    height: 80px;
    padding: 0px;
    font-size: 90px;
    color: #f6f6f6;
    box-sizing: border-box;
    span {
      position: absolute;
      display: inline-block;
      top: -30px;
      left: 7px;
    }

  }
  p{
    padding: 0 10px;
  }
  .add{
    margin-top: 40px;
  }
  .title{
    font-size: @newsTextSize;
  }
  .date{
    font-size: @newsDateSize;
  }
}