@import "../globalVars";
.product_plate {
  .product_img{
    margin: 50px 0 0 60px;
  }
  position: relative;
  display: block;
  width: 100%;
  min-height: 400px;
  background-color: white;
  border: 1px solid @headerBorderColor;
  border-radius: 5px;
}
.product_texts{
  .defaultFont();
  padding: 0 20px;
  p {
    color: @textGrey;
    font-size: 14px;
  }
  h2{
    font-size: 15px;
  }
  .price_text{
    color: black;
    p{
      color: black;
      font-size: 21px;
      font-weight: bold;
      span{
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
  .buy_button{
    margin-bottom: 25px;
    background-repeat: no-repeat ;
    background-position: 0px 0px;
    padding-top: 5px;
    a{
      text-transform: uppercase;
      padding-left: 25px;
      font-size: 14px;
      font-weight: bold;
      color: @mainRed;
    }
  }
}