@import "../globalVars";

//deliveryPlate
.delivery_plate{
  .img_container,.txts_container{
    display: inline-block;
  }
  .img_container{
    vertical-align: top;
    width: 100px;
    img{
      margin-left: 20px;
    }
  }
  .txts_container{
    width: 600px;
  }
}



.text_grey{
  color: @textGrey;
}
.text_red{
  color: @mainRed;
}

.news_data{
  p {
    color: @textGrey;
  }
}
.news_plate{
  img{
    margin-bottom: 10px;
  }
  a{
    color: black;
  }
  a:hover{
    text-decoration: underline;
  }
}

// Product plate

.product_plate {
  .product_img{
    margin: 50px 0 0 60px;
  }
  position: relative;
  display: block;
  width: 100%;
  min-height: 400px;
  background-color: white;
  border: 1px solid @headerBorderColor;
  border-radius: 5px;
}
.product_texts{
  .defaultFont();
  padding: 0 20px;
  p {
    color: @textGrey;
    font-size: 14px;
  }
  h2{
    font-size: 15px;
  }
  .price_text{
    color: black;
    p{
      color: black;
      font-size: 21px;
      font-weight: bold;
      span{
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
  .buy_button{
    margin-bottom: 25px;
    background-image: url("../../components/images/cart-red.png");
    background-repeat: no-repeat ;
    background-position: 0px 0px;
    padding-top: 5px;
    a{
      text-transform: uppercase;
      padding-left: 25px;
      font-size: 14px;
      font-weight: bold;
      color: @mainRed;
    }
  }
}

.up_before:before{
  content: "∧ ";
}
.down_before:before{
  content: "∨ ";
}
.up,.down{
  text-decoration: none;

}
.up:hover,.down:hover{
  text-decoration: underline;
}

.up:after{
  content: " ∧";
}
.down:after{
  content: " ∨";
}
.product_plate_long{
  margin: 10px 0 5px 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border: solid @headerBorderColor @headerBorderwidth;
  border-radius: 5px;
  width: 100%;
  .img_container,.txt_container,.price_container,.buy_container{
    display: inline-block;
    margin-right: 30px;
  }
  .img_container{
    vertical-align: top;
    margin-top: 40px;
    margin-left: 40px;
    width: 150px;
    img{
      width: 150px;
    }
  }
  .txt_container{
    h2{
      .defaultFont();
      font-size: 16px;
    }
    .artic{
      color: @textGrey;
    }
    .available{
      color: @mainRed;
    }
    .unavailable{
      color: @textGrey;
    }
    .charact{
      .transition(all,500ms);
    }
    .product_description{
      .transition(all,500ms);
    }
    .charact:hover{
      cursor: pointer;
    }
    .charact.up{
      font-weight: bold;
    }
    .product_description.visible{
      height: 54px;
    }
    .product_description.invisible{
      height: 0px;
      overflow: hidden;
    }
  }
  .price_container{
    vertical-align: top;
    margin-top: 52px;
    p{

      font-size: 24px;
      font-weight: bold;
      span{
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  .buy_container{
    vertical-align: top;
    margin-top: 85px;
    margin-right: auto;
    a {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      color: @mainRed;
    }
    a:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
}