@headerBorderColor: #f3f3f3;
@headerBorderwidth: 1px;
@textGrey: #e8e8e8;
@greyInputBorder: #d9dbda;
@greyTextInput: #bcbdbd;
@bgGrey: #f6f6f6;
@windowBG: #fff;
@buttonColor: #00c0b7;
@newsGrey: #eaeaea;
@headerSize: 24px;
@textSize: 16px;
@buttonTextSize:18px;
@newsTextSize: 14px;
@newsDateSize: 12px;
@defaultTextColor: #363f3a;


@mainRed: #ff4b3a;

.defaultFont(){
  font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

h1{
  text-align: center;
  font-size: 24px;
  font-weight: lighter;
}
h2{
  font-weight: 400;
  margin-left: 15px;
  font-size: 16px;
}

.transition(@actions, @time){
  -webkit-transition: @actions @time;
  -moz-transition: @actions @time;
  -ms-transition: @actions @time;
  -o-transition: @actions @time;
  transition: @actions @time;
}

.greyBG {
  background-color: @bgGrey;
}

.responsive(@maxWidth, @rules) {
  @media only screen and (max-width: @maxWidth) {
    @rules();
  }
}
.responsiveMin(@minWidth, @rules) {
  @media only screen and (min-width: @minWidth) {
    @rules();
  }
}

.row-block{
  .responsiveMin(420px,{
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
  });
}

.row-container{
  .responsiveMin(700px,{
    width: 690px;
    margin-left: auto;
    margin-right: auto;
  });
}

.green_button{
  display: block;
  border-radius: 20px;
  background-color: #00c0b7;
  border: none;
  color: #fff;
  box-sizing: border-box;
  font-size: @buttonTextSize;
  padding: 8px 45px;
  outline: none;
}
.white_button{
  display: block;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid @greyInputBorder;
  color: @defaultTextColor;
  box-sizing: border-box;
  font-size: @buttonTextSize;
  padding: 7px 45px;
  outline: none;
  font-weight: lighter;
}