extends ../base.pug
block title
    |  - Вход
block main
    .main
        .login-block
            input(type="text", placeholder="Логин...").login-block__login
            input(type="text", placeholder="Пароль...").login-block__password
            input.login-block__button-enter(type="button", value="Войти" "onclick"="document.location.href='news.html'")
        