@import "../../components/globalVars";

.main{
  height: calc(100vh ~"-" 75px);
  border-top: 1px solid @headerBorderColor;
  background-color: @bgGrey;
  .login-block {
    background-color: @windowBG;
    input[type="text"]{
      border: 1px solid @greyInputBorder;
      color: @greyTextInput;
      padding-left: 20px;
      border-radius: 10px;
    }

  }
  .login-block__button-enter{
    display: block;
    border-radius: 20px;
    background-color: #00c0b7;
    border: none;
    color: #fff;
    margin: 50px auto 0px auto;
    box-sizing: border-box;
    font-size: @buttonTextSize;
    padding: 8px 45px;
    outline: none;
  }
}

.responsiveMin(350px,{
  .login-block{
    position: relative;
    margin: calc(50vh ~"-" 200px) auto 0 auto;
    width: 340px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    input[type="text"]{
      position: relative;
      display: block;
      margin: 0 auto 10px auto;
      width: 300px;
      height: 50px;
    }
  }

});