@import "../../components/globalVars";

.main{
  height: calc(100vh ~"-" 75px);
  border-top: 1px solid @headerBorderColor;
  background-color: @bgGrey;
  
}
.select-block{
  position: relative;
  margin-top: 20px;
  box-sizing: content-box;
  border: 1px solid @newsGrey;
  border-radius: 6px;
  background-color: #fff;
  padding-bottom: 20px;
  .select-block_content{
    overflow: auto;
  }
  .close{
    cursor: pointer;
    transform: rotate(45deg);
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 60px;
    color: @greyTextInput;
  }
}
.select-container {
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 20px;

  img{
    width: 100%;
    
  }
  &.selected{
    position: relative;
    &::before{
      position: absolute;
      content: '';
      border: 1px solid black;
      background-color: #fff;
      border-radius: 15px;
      width: 25px;
      height: 25px;
      bottom: 18px;
      right: 14px;
    }
    &::after{
      position: absolute;
      content: '✔';
      bottom: 20px;
      right: 20px;
    }
    img{
      opacity: 0.3;
    }
  }
  
  
}

.line{
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  .button_load{
    float: left;
  }
  .button_select{
    float: right;
  }
}