extends ../base.pug
block title
    |  - Главная
block main
    .main
        .select-block.row-container
            .close(onclick="document.location.href='add-news.html'")="+"
            h2.select-block_header="Выберите изображение"
            .select-block_content
                .select-block_select.row-block.select-container.selected
                    img(src=require('../../components/images/news_img.jpg'), alt="")
                .select-block_select.row-block.select-container
                    img(src=require('../../components/images/news_img.jpg'), alt="")
                .select-block_select.row-block.select-container
                    img(src=require('../../components/images/news_img.jpg'), alt="")
                .select-block_select.row-block.select-container
                    img(src=require('../../components/images/news_img.jpg'), alt="")
                .select-block_select.row-block.select-container
                    img(src=require('../../components/images/news_img.jpg'), alt="")
                .select-block_select.row-block.select-container
                    img(src=require('../../components/images/news_img.jpg'), alt="")
                .select-block_select.row-block.select-container
                    img(src=require('../../components/images/news_img.jpg'), alt="")
                .select-block_select.row-block.select-container
                    img(src=require('../../components/images/news_img.jpg'), alt="")
                .select-block_select.row-block.select-container
                    img(src=require('../../components/images/news_img.jpg'), alt="")
            .line.line-buttons
                button.button_load.white_button="Загрузить еще"
                button.button_select.green_button(onclick="document.location.href='add-news.html'")="Выбрать"


        